
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section * {
  padding: 0 2px;
}


.column-container {
  display: flex;
}

.column-container section {
  display: inline-block;
  width: 100%;
  border-style: groove;
  margin: 5px;
  background-color: #FFF;
}

.query-placeholder, form, header, h3 {
  text-align: center;
}

form {
  margin: 10px auto;
}

.hide {
  display: none;
}

#input-search {
  padding: 5px;
  border: 1px solid #4484CE;
}

#map {
  margin-top: 10px;
  border: 2px solid #4484CE;
}